# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

RepData_PeerAssessment2_cache/html/unnamed-chunk-2_5537e36b2e2a13b02e96298acb525057.rdx

RepData_PeerAssessment2_cache/html/unnamed-chunk-2_5537e36b2e2a13b02e96298acb525057.rdb

RepData_PeerAssessment2_cache/html/unnamed-chunk-2_5537e36b2e2a13b02e96298acb525057.RData
